Checks: >
    *,
    -bugprone-reserved-identifier,
    -cert-dcl37-c,
    -cert-dcl37-cpp,
    -cert-dcl51-cpp,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-union-access,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -google-readability-todo,
    -google-runtime-references,
    -hicpp-uppercase-literal-suffix,
    -llvm-header-guard,
    -llvmlibc-callee-namespace,
    -llvmlibc-implementation-in-namespace,
    -llvmlibc-restrict-system-libc-headers,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -readibility-uppercase-literal-suffix

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase,         value: CamelCase  }
  - { key: readability-identifier-naming.ClassCase,             value: CamelCase  }
  - { key: readability-identifier-naming.StructCase,            value: CamelCase  }

  - { key: readability-identifier-naming.ClassMemberCase,       value: lower_case  }
  - { key: readability-identifier-naming.ClassMemberSuffix,     value: __         }
  - { key: readability-identifier-naming.ClassConstantCase,     value: lower_case  }
  - { key: readability-identifier-naming.ClassConstantSuffix,   value: __         }

  - { key: readability-identifier-naming.StaticVariableCase,    value: lower_case  }
  - { key: readability-identifier-naming.StaticVariableSuffix,  value: __         }

  - { key: readability-identifier-naming.MemberCase,            value: lower_case  }
  - { key: readability-identifier-naming.PrivateMemberCase,     value: lower_case  }
  - { key: readability-identifier-naming.PrivateMemberSuffix,   value: _          }
  - { key: readability-identifier-naming.ProtectedMemberCase,   value: lower_case  }
  - { key: readability-identifier-naming.ProtectedMemberSuffix, value: _          }

  - { key: readability-identifier-naming.FunctionCase,          value: lower_case  }
  - { key: readability-identifier-naming.VariableCase,          value: lower_case  }
  - { key: readability-identifier-naming.ParameterCase,         value: lower_case  }
  - { key: readability-identifier-naming.GlobalConstantCase,    value: UPPER_CASE }
  - { key: readability-identifier-naming.EnumConstantCase,      value: UPPER_CASE }
