# force 4MB flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# use custom partition table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# build documentation by default
CONFIG_BUILD_DOCUMENTATION=y

# Build for release by default
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y

# 240 MHz cpu frequency
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240

# increase DMA buffer size
CONFIG_ETH_DMA_BUFFER_SIZE=1600

# enable HTTPS server implementation
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
CONFIG_ESP_TLS_SERVER=y

# use hardware mpi
CONFIG_MBEDTLS_HARDWARE_MPI=y

# wifi default config
CONFIG_WIFI_SSID="esp32_wifi"
CONFIG_WIFI_PASSWORD="password"

# Enable C++ exceptions
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_COMPILER_CXX_EXCEPTIONS_EMG_POOL_SIZE=0
